// bower:scss
// endbower

.device {
  position: relative;
  margin:0 auto;
}

.device-overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  width:100%;
}

.phone {
  width:375px;
  height:667px;
}

.phone .device-view {
  width: 296px;
  padding-top: 88px;
  padding-left: 22px;
  overflow-x: hidden;
}

.phone .device-overlay {
    background:url('/images/iphone.png');
    background-size: contain;
    background-repeat: no-repeat;
}
