// bower:scss
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "device-overlay.scss";
// endbower


device-selector footer {
  position: absolute;
  bottom:2rem;
  left: 2rem;
  right:2rem;
  color:#666;
  font-size:1rem;
}

device-selector footer img {
  max-height: 100px;
}

// /* eDrugLog Custom CSS */
//
// body > .container {
//   padding-bottom:5rem;
// }
//
// .img-responsive {
//   margin: 3rem 0;
// }
//
// .btn-group-lg .btn-square {
//   border-radius: 0;
//
// }
//
// /* Navigation */
// navigation {
//   position: fixed;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 100;
// }
//
//
// navigation .btn {
//   border-bottom:0;
//   border-radius: 0;
//   border-right: 0;
// }
//
// navigation:last-child {
//   border-right: 0;
// }
//
// /* Device Specific Nav */
// .phone {
//     @media (min-width: 640px) {
//       navigation {
//         position: absolute;
//         left: 21px;
//         right: 20px;
//         bottom: 88px;
//
//       }
//     }
// }
//
// .tablet {
//   @media (min-width: 769px) {
//     navigation {
//       width:70vw;
//     }
//   }
//   @media (min-width: 1100px) {
//     navigation {
//       position: absolute;
//       left: 33px;
//       right: 33px;
//       bottom: 88px;
//       width:auto;
//     }
//   }
// }
//
//
// .dashboard-header {
//   margin: 15px 0;
//   padding-bottom: 10px;
//   border-bottom: 1px solid #eee;
// }
//
// /* Scan Container */
// #scan-activate {
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   position: absolute;
// }
//
// .scan-image {
//   background-image: url('/images/pill-bottle.jpg');
//   background-size: cover;
//   background-position: center center;
// }
