// bower:scss
// endbower

body {
  background-color: #fafafa;
}

/* Device Overlay */
.device {
  position: relative;
  margin: 5rem auto;
  background-color: white;

  .device-overlay,
  .device-view {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
  }

  .device-view {
    z-index:2;
  }
}

/* Phone */
.phone {
  width:314px;
  height:659px;
  border-radius: 49px;

  .device-view {
    width: 274px;
    height: 485px;
    margin-top: 88px;
    margin-left: 21px;
    overflow-x: scroll;
    overflow-y: visible;
  }

  .device-overlay {
    background:url('/images/iphone.png');
    background-size: 315px;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 49px;
  }
}

/* Tablet */
.tablet {
  width:702px;
  height:1023.4px;
  border-radius: 40px;

  .device-view {
    width: 637px;
    height: 850px;
    margin-top: 87px;
    margin-left: 33px;
    overflow-x: scroll;
    overflow-y: visible;
  }

  .device-overlay {
    background:url('/images/ipad.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }
}

/* Dekstop */
.desktop {
  width:100%;
  min-height: 100vh;
  margin:0;

  .device-overlay,
  .device-view {
    position: relative;
  }

  .device-overlay {
    display: none;
  }
}

/* Device Selector */
device-selector {
  position: fixed;
  bottom:0;
  right:0;
  padding:1rem;
  width:100%;
  background:#EEE;
  border-top:1px solid #CCC;
  z-index: 100;

  @media (min-width: 1200px) {
    top:0;
    padding:2rem;
    height:100vh;
    width:300px;
    background:#EEE;
    border-top: none;
    border-left:1px solid #CCC;
  }

  .btn {
    margin-right: 1rem;

    @media (min-width: 1200px) {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  i {
    vertical-align: middle;
    padding-right: 0.5rem;
  }
}
