<!-- Device Control -->

<div class="hidden-xs hidden-sm hidden-md">
  <strong>Select Form Factor</strong>
  <p class="hidden-sm hidden-md">You can change the device size by clicking on one of the buttons below</p>
</div>

<div class="text-center">
  <button ng-click="setDevice('phone')" class="btn btn-default">
    <i class="fa fa-mobile fa-2x"></i>
    Phone
  </button>
  <button ng-click="setDevice('tablet')" class="btn btn-default">
    <i class="fa fa-tablet fa-2x"></i>
    Tablet
  </button>
  <button ng-click="setDevice('desktop')" class="btn btn-default">
    <i class="fa fa-desktop fa-2x"></i>
    Desktop
  </button>
</div>

<footer>
  <p class='text-center'><img src="/images/brs-logo.png" /></p>
  <p class='text-center'>Wireframes built by <a href="bigroomstudios.com" target="_blank">Big Room Studios</a> &copy; 2017 </p>
</footer>
