<navigation></navigation>

<h1>Medication List</h1>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Medication" ng-model="searchMedication">
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        Medication Name
      </th>
      <th>
        Category
      </th>
      <th>
        Quantity
      </th>
      <th>
        Maximum Quantity
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="medication in medications | orderBy: 'name' | filter:searchMedication">
      <td>
        {{medication.name}}
      </td>
      <td>
        {{medication.category}}
      </td>
      <td>
        {{medication.quantity}}
      </td>
      <td>
        {{medication.maxQuantity}}
      </td>
    </tr>
  </tbody>
</table>
